PORT=5000
MONGODB_URI="mongodb+srv://hemantkushwaha2405_db_user:DhdIJPsHJ2olXCms@cluster0.p3lomtn.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

JWT_SECRET=replace_with_a_strong_secret
CLIENT_ORIGIN=http://localhost:5173
